<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--variable name="myvar" value="myvalue"/-->
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
      encoding="windows-1251"
    -->
    <target xsi:type="File"
      name="csv"
      lineEnding="CRLF"
      fileName="${basedir}/logs/current.csv"
      maxArchiveFiles="14"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      archiveFileName="${basedir}/logs/archive/{#}.csv"
      keepFileOpen="true">
      <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
        <column name="time" layout="${longdate:universalTime=true}" />
        <column name="sequenceid" layout="${sequenceid}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="domain" layout="${appdomain:format={1\} - {0\}}" />
        <column name="machinename" layout="${machinename}" />
        <column name="processid" layout="${processid}" />
        <column name="processname" layout="${processname}" />
        <column name="processtime" layout="${processtime}" />
        <column name="threadid" layout="${threadid}" />
        <column name="threadname" layout="${threadname}" />
        <column name="actor" layout="${event-properties:actor}"/>
        <column name="action" layout="${event-properties:action}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite}" />
        <column name="callsite-filename" layout="${callsite-filename:includeSourcePath=true}" />
        <column name="callsite-linenumber" layout="${callsite-linenumber}"/>
        <column name="stacktrace" layout="${stacktrace:topFrames=10:reverse=true}" />
        <column name="exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="csv" />
  </rules>
</nlog>
